html {
  font-family: Georgia, serif;
  background-color: #495562;
  color: #fff;
}

.btn {
  background-color: #495562;
  border-color: #97a49b;
}

.btn:hover {
  display: inline-block;
  background-color: #efefef;
}

.img-flex {
  display: block;
  width: 100%;
}

@media only screen and (min-width: 42em) {

  .banner {
    position: relative;
    overflow: hidden;
    max-height: 500px;

  }

  .content {
    position: absolute;
    bottom: 0%;
    left: 0%;
    max-width: 50em;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(73, 85, 98, 0), rgba(73, 85, 98, .8));
  }

  .text {
    max-width: 25em;
    width: 100%;
  }

  .btn {
    position: absolute;
    bottom: 0%;
    left: 60%;
  }
}
